:root {
  --clr-1: #fff;
  --clr-2: #fafafa;
  --clr-3: #00000029;
  --clr-4: #598464;
  --clr-5: #def0d8;
  --clr-6: #387546;
  --clr-7: #383833;
  --clr-8: #598463;
  --clr-9: #b2c9a3;
  --clr-10: #f19a33;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-2);
}
h1 {
  display: block !important;
}

span {
  display: block !important;
}

.style-btn {
  width: 180px;
  height: 50px;
  padding: 10px;
  color: var(--clr-1);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.btn-1 {
  margin-top: 20px;
  background-color: var(--clr-10);
}
.btn-2 {
  background-color: var(--clr-6);
}

.second-menu-title {
  margin: auto 0;
  font-size: 3rem !important;
  font-weight: 700 !important;
}

.bold-text {
  font-weight: 600;
}

/* 
    Nav styles

*/

.nav-menu-container {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-1);
  z-index: 5;
}

.nav-menu-container__logo {
  margin-left: 40px;
  margin-right: auto;
  width: 150px;
}

.menu-links {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-7);
}

.nav-margin {
  margin-right: 70px;
}

/* 
    Home section styles

*/

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 750px;
}
.home__text-container {
  display: flex;
  background-image: url("/src/Wrapped Green/imgs/background_picture2.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: top 590px left -20px;
  overflow: visible;
}

.home__text {
  margin: auto auto;
}

.home__text-container span {
  width: 320px;
}

.home__img-container {
  background-image: url("/src/Wrapped Green/imgs/figure-1.svg");
  background-repeat: no-repeat;
  background-position: top -40px left 70px;
  background-size: 100%;
}

.home__img-container img {
  width: 100%;
}

.home__main-text {
  width: 450px;
  font-size: 3.4rem;
  font-weight: 900;
  color: var(--clr-7);
  margin: 35px 0;
}

/* 
  ABOUT US STYLES

*/

#about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 730px;
}

.about-us__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/Wrapped Green/imgs/figure-1.svg");
  background-repeat: no-repeat;
  background-position: top 50% left -200px;
  background-size: 660px;
  height: 100%;
}

.about-us__text-container {
  place-self: center;
  width: 60%;
}
.about-us__text-container span {
  font-size: 1.66rem;
  font-weight: 500;
  color: var(--clr-10);
}

.about-us__text-container h2 {
  color: var(--clr-7);
  font-weight: 700;
  font-size: 2.5rem;
  white-space: nowrap;
}

.about-us__text-container p {
  color: var(--clr-7);
  font-size: 1.4rem;
  font-weight: 500;
  width: 450px;
}

/* 

  MENU SECTION STYLE

*/

.menu__title-text {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__title-text span:first-child {
  font-size: 1.66rem;
  font-weight: 500;
  color: var(--clr-10);
}

.menu__title-text span:nth-child(2) {
  color: var(--clr-7);
  font-weight: 700;
  font-size: 3rem;
}

.menu__title-text span:last-child {
  color: var(--clr-7);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.menu__items-container {
  width: 100%;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 300px 300px 300px;
  place-content: center;
  gap: 20px;
}

.menu__items-text {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  box-shadow: -1px 25px 22px 0px rgba(0, 0, 0, 0.164);
}

.menu__items-text div span:first-child {
  color: var(--clr-7);
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.menu__img-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px;
  place-content: center;
  gap: 20px;
}

.menu__schedule {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu__schedule-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 150px;
  background-color: var(--clr-1);
  border-radius: 52px;
  box-shadow: -1px 25px 22px 0px rgba(0, 0, 0, 0.164);
}

/* 

  FOOTER STYLES 

*/

#footer {
  display: flex;
  height: 260px;
  margin-top: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-4);
  border-radius: 90% 90% 0% 0%;
}

.footer__logo-container {
  position: relative;
  bottom: 90px;
  border-radius: 50%;
  background-color: var(--clr-2);
  padding: 20px;
}

.footer__menu-links {
  position: relative;
  bottom: 50px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  color: var(--clr-1);
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__menu-links span {
  cursor: pointer;
}

.food__rss-container {
  position: relative;
  bottom: 20px;
  display: flex;
  width: 250px;
  justify-content: space-between;
}
.food__rss-container img {
  cursor: pointer;
}
