body{
    background-color: #251762;
}


.header{
    display: flex;
    justify-content: space-evenly;
    
}

.logo {

    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    
    color: #f8cebe;

}

.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.nav-item{
    padding: 30px;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.login{
    display: flex;
    
    align-items: center;
}

.login a{
    margin-right: 30px;
}

.login span{
    margin-right: 30px;
}

.fas{
    margin: 0 5px;
}

button{

    align-self: center;
    font-size: 18px;
    border-radius: 15px;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
}



.main-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 300px 1fr 1fr;
   

    
    
}

.main-title{

    padding-top: 30px;
    justify-self: center;
    width: 70%;
}

.p{

    margin: 0;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    grid-row: 2 / 3;
    font-size: 22px;
    font-weight: 100;
    color: rgb(218, 218, 218);
    font-family: 'Roboto', sans-serif;
}

.img-text{

    grid-column: 2/3;
    grid-row: 2/3;
    opacity: 75%;
  
  
    border-radius: 10%;
    width: 500px;

}

.discover{
    
    position: absolute;
    left: 7.5%;
    top: 80%;
    padding: 20px 70px;
    text-decoration: none;
    background-color: #ed3f37;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sans {
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #f8cebe;

}

.roboto{
    color: white;
    font-family: 'Roboto', sans-serif;

}